@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F3EAE3;

}
#Main-Container{
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 300px;
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
}

#Img-Container{
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}
#Perfume{
    height: 100%;
    width: 100%;
}
#Text-Container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: gray;
    margin: 15px;
    font-size: 10px;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}

#Heading-1{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
    margin-top: 10px;
    position: absolute;
    top: 0;   
}
#Main-Heading{
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 20px;
    color: #000;
    width: 70%;
}
#Main-text{
    font-family: "Montserrat", sans-serif;
    width: 80%;
    margin: 15px 0px 0px 0px;
}
#Digits{
     display: flex;
     align-items: center;
     margin: 15px 0px 10px;
}
.New-price{
    font-family: "Fraunces", serif;
    font-size: 20px;
    font-weight: 900;
    color:hsl(158, 36%, 37%);
}
.Old-price{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-decoration: line-through;
    margin-left: 15px;
}
button{
    position: absolute;
    bottom: 30px;
    background-color:  hsl(158, 36%, 37%);
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-size: 11px;
}
button:hover{
    background-color:hsl(158, 42%, 18%);
    cursor: pointer;
}
#Cart-Img{
    padding-right: 7px;
}
@media(max-width:500px){
#Main-Container{
    flex-direction: column;
    width: 270px; ;
    height: 500px; ;
}
#Img-Container{
    height: 45%;
    width: 100%;
}
#Text-Container{
    height: 500%;
    width: 100%;
}
#Main-Heading{
    margin-top: 0px;
    margin-bottom: 5px;
}
#Main-text{
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    bottom: 5px;
    width: 90%;
}
}
